# Node.js dependencies
node_modules/

# TypeScript compiled output
dist/
build/

# Husky files and hooks
.husky/_/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debugger working directory
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Coverage directory (for tests)
coverage/

# Jest cache and test output
jest-output/
jest-cache/
jest-config/
.jest/

# Typescript cache
*.tsbuildinfo

# MacOS system files
*.DS_Store
